<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>

    <hr>
    <h2>Add a new post </h2>
    <form action="/insert_post" method="post">
      <div>
        <label for="title_field"></label>
        <input id="title_field" type="text" name="title">
      </div>
        <label for="body_field">Body</label>
        <textarea name="body" id="body_field" cols="30" rows="10"></textarea>
      </div>
      <div>
        <label for="expires_on_field">Expires on</label>
        <input type="date" id="expires_on_field" name="expires_on_field>
      </div>

      <div>
        <label for="board_id">Board ID</label>
        <input type="text" id="board_id" name="board_id>
      </div>

      <button>
        Add post
      </button>

    </form>
    </hr>

    <div>
      <div>
        <a href="/boards">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_board/<%= @the_board.id %>">
          Delete board
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_board.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

</hr>

<h2>Active posts</h2>
<% matching_posts = Post.where({ :board_id => @the_board.id}) %>

<table border="1">
  <tr>
    <td>Title</td>
    <td>Body</td>
    <td>Posted on</td>
    <td>Expires on</td>
  </tr>
</table>

<% matching_posts.each.do |a_post| %>
  <tr>
    <td><%=a_post.title%></td>
    <td><%=a_post.body%></td>
    <td><%=a_post.created_at%></td>
    <td><%=a_post.expires_on%></td>
  </tr>

<% end %>
